import(spatstat)
importFrom(spatstat.random, runifpoint)
importFrom(spatstat.geom, affine,area.owin,as.mask,as.polygonal,compatible.im,im,inside.owin,integral.im,intersect.owin,is.im,is.owin,is.solist,ppp,safelookup,solist,Window)
importFrom("mvtnorm","dmvnorm")
importFrom("sparr","rimpoly")
importFrom("abind","abind")
importFrom("stats","approx","runif","rpois","rchisq","rnorm")
importFrom("grDevices","dev.flush","dev.hold")
importFrom("graphics","axis","box","par","plot")

exportPattern("^[[:alpha:]]+")

export(sgmix,rrmix,rgmix,stgmix,unify.owin,stkey,rstpoint,rrstmix,rrpoint,rrstpoint,stintegral,rpoispoly)

S3method(plot,stim)
